.input-group{
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
    padding: 10px;
    border: solid 1px #999;
    border-radius: 2px;
    width: 35ch;
}

label{
    font-weight: 600;
}

input[type="reset"] {
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
}

input[type="submit"] {
    border: solid 1px #999;
    border-radius: 3px;
    padding: 10px;
}